<aside class="blog-sidebar">
  <div class="p-4 mb-3 bg-light rounded">
    <h4 class="font-italic">El país sigue dividido.</h4>
    <p class="mb-0">Sondeo del Centro Nacional de Consultoría sobre el gobierno del presidente Petro revela contrastes. </p>
  </div>

  <div class="p-3">
    <h4 class="font-italic">Archivo</h4>
    <ol class="list-unstyled mb-0">
      <li><a href="#">Marzo 2022</a></li>
      <li><a href="#">Febrero 2022</a></li>
      <li><a href="#">Enero 2023</a></li>
      <li><a href="#">Deciembre 2022</a></li>
      <li><a href="#">Noviembre 2022</a></li>
      <li><a href="#">Octubre 2022</a></li>
      <li><a href="#">Septiembre 2022</a></li>
      <li><a href="#">Agosto 2022</a></li>
      <li><a href="#">Julio 2022</a></li>
      <li><a href="#">Junio 2022</a></li>
      <li><a href="#">Mayo 2022</a></li>
      <li><a href="#">Abril 2022</a></li>
    </ol>
  </div>

  <div class="p-3">
    <h4 class="font-italic">Siguenos en:</h4>
    <ol class="list-unstyled">
      <li><a href="#">Twitter</a></li>
      <li><a href="#">Facebook</a></li>
    </ol>
  </div>
</aside>
